*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

select{
    height: 30px;
    padding: 5px;
    border-radius: 6px;
    font-size: medium;
}

option{
    font-size: medium;
}

h5{
    font-weight: 400;
    font-size: medium;
}
p{
    color: grey;
    font-size: medium;
}
.flex{
    display: flex;
}


#main{
    width: 30vw;
    flex-direction: column;
    background-color: aliceblue;
    min-height: 40vh;
    margin: auto;
    margin-top: 25vh;
    padding: 10px;
    border-radius: 6px;
}


#info{
    text-align: center;
    padding-bottom: 25px;
}
#info h3{
    color: rgb(71, 35, 213);
    padding: 15px 5px 5px 5px;
}


#content{
    background-color: white;
    border-radius: 6px;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}
#exchange{
    width: 20px;
}
.cards{
    padding: 5px;
    width: 100%;
}


#rate_container{
    padding: 10px 5px;
}
#rate{
    font-weight: bold;
}

#amount,#converted_amount{
    padding: 5px;
    font-size: large;
    border: none;
    width: 100px;
    height: 30px;
    background-color: rgba(192, 186, 186, 0.542);
}

.space{
    justify-content: space-between;
    padding: 5px;
    align-items:center;
}

#from_country,#to_country{
    display: flex;
    align-items: center;
    gap: 10px;
}